:root {
    --DarkGrayishRed: hsl(0, 6%, 24%);
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
}

@font-face {
    font-family: JosefinSans;
    src: url("./fonts/JosefinSans-VariableFont_wght.ttf");
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body{
    font-size: 16px;
    font-family: JosefinSans;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.picture {
    background: url("./images/hero-desktop.jpg") no-repeat center center;
    /* height: 300px; */

}

main.container {
    min-height: 100vh;
    margin-bottom: 2em;
}

.heading {
    letter-spacing: .2em;
    text-transform: uppercase;
    color: var(--DarkGrayishRed);
    line-height: 1.4;
    font-size: 1.8em;
    max-width: 20%;
}

.heading::first-line {
    color: var(--DesaturatedRed);
}

.info {
    color: var(--DesaturatedRed);
    text-align: center;
    margin: 3em 0 3em 0 ;
}

.main-action{
    width: 90%;
    position: relative;
}

.email {
    width: inherit;
    border: 1px solid var(--DarkGrayishRed);
    border-radius: 100px;
    padding: 0.5em 1em;
}

button[type=submit] {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    display: block;
    width: 60px;
    height: 150%;
    position: absolute;
    top: -15%; right: 10%;
    border-radius: 20px;
    border: 1px solid transparent;
}

button[type=submit]:hover {
    cursor: pointer;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}

input[type=text]:focus {
    outline: none;
    border: 1px solid rgb(65, 60, 60);
}

input.error:focus {
    border: 2px solid var(--SoftRed);
}

.error{
    border: 2px solid  var(--SoftRed);
}

input.error +.invalid-email + .invalid {
    opacity: 1;
    visibility: visible;
}

.invalid {
    opacity: 0;
    visibility: hidden;
    margin: .5em 0 0 1em;
    color: var(--SoftRed);
    font-size: .8em;
}

input.error + .invalid-email {
    opacity: 1;
    visibility: visible;
}
.invalid-email {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 20%;
    top: 10%;
}

@media screen and (max-width: 600px) {
    div.container{
        max-width: 600px;
        min-width: 350px;
        flex-direction: column;
        align-items: stretch;
        gap: 1em;
    }

    section.picture {
        background: url('./images/hero-mobile.jpg') no-repeat center center;
        background-size: cover;
        height: 400px;
    }

    .head {
        padding: 2em 1em;
    }

    section.text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    img[alt=face] {
        width: 100%;
    }

    .heading {
        margin-left: -3em;
    }

    button[type=submit] {
        height: 100%;
        width: 40px;
    }


}
